@use "./partials/global";
@use "./partials/media-query" as mediaQuery;
@use "./partials/variables";

.gstarted{
    background-color: variables.$bgColor;
    padding: 2rem 6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &-section1{
        object-fit: contain;
        display: none;
    
        &__image{
            height: 450px;
        }
    }
    &-section2{
        
        width: 80%;
        padding: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__heading{
        color: variables.$blue;
        font-size: 2rem;
        margin: 1rem 0rem;
    }
    &__text{
        color: variables.$blue;
        margin: 0rem;
    }
    label{
        font-size: 1.5rem;
        color: variables.$blue;
        margin-top: 1rem;
    }
    .form{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 1rem;
        &__destination{
            height: 3rem;
            color: variables.$blue;
            background-color: variables.$bgColor;
            width: 20rem;
            border-radius: 0.3rem;
            border: 2px solid variables.$blue;
            width: 20rem;
            margin-top: 1rem;
            margin: 0rem;
            margin-top: 0.5rem;
            font-size: 1rem;
        }
        &__text{
            height: 3rem;
            color: variables.$blue;
            background-color: variables.$bgColor;
            border-radius: 0.3rem;
            border: 2px solid variables.$blue;
            width: 20rem;
            margin: 0rem;
            margin-top: 0.5rem;
            font-size: 1rem;
        }
        &__message{
            color: variables.$blue;
            background-color: variables.$bgColor;
            border-radius: 0.3rem;
            border: 2px solid variables.$blue;
            width: 20rem;
            height: 9rem;
            margin: 0rem;
            margin-top: 0.5rem;
            font-size: 1rem;
        }
        &__submit{
            background-color: variables.$orange;
                color: #FFFFFF;
                border: 0;
                border-radius: 100px;
                justify-content: center;
                text-align: center;
                padding: 0.5rem 2rem;
                vertical-align: middle;
                margin-top: 1rem;
                &:hover{
                    filter: brightness(150%);
                }
        }
    }
}

@include mediaQuery.tablet{
    .gstarted{
        padding: 1rem 0rem;
        justify-content: center;
        &-section1{
            display: block; 
            
            &__image{
                height: 300px;
            }
        }
        &-section2{
            width: 42%;
            align-items: flex-start;
            padding-left: 5rem;
        }
    }
}

@include mediaQuery.desktop{
    .gstarted{
        padding: 2rem 6rem;
        justify-content: space-between;
        &-section1{
            display: block; 
            &__image{
                height: 450px;
            }
        }
        &-section2{
            width: 42%;
            align-items: flex-start;
        }
    }
}