* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}
.primary-nav {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  color: #335576;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 5rem;

  &__heading {
    margin: 0rem;
  }
  &__headinglink{
    text-decoration: none;
    color: #335576;
    &:hover{
      filter: brightness(150%);
  }
  }
  &__list {
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  &__item {
    padding-left: 1rem;
  }

  &__link {
    text-decoration: none;
    color: #000000;

    &--active {
      text-decoration: underline;
      text-decoration-color: #db7a4e;
      text-underline-offset: 0.6rem;
      text-decoration-thickness: 0.3rem;
    }
    &:hover{
      text-decoration: underline;
      color: #335576;
      text-underline-offset: 0.6rem;
      text-decoration-thickness: 0.3rem;
    }
  }
}
.footer {
  background-color: #fefaf5;
  padding: 2rem 14rem;
  color: #335576;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  .contact {
    &__heading {
      margin-bottom: 2rem;
    }
    &__text {
      color: #db7a4e;
      font-size: 0.7rem;
      text-transform: uppercase;
      font-weight: bold;
    }
    &__email {
      margin-top: 0rem;
    }
  }
  .hours {
    &__heading {
      margin-bottom: 2rem;
    }
    &__container {
      display: flex;
      flex-direction: row;
    }
    &__section {
      display: flex;
      flex-direction: column;
      padding-right: 2rem;
    }
    &__day {
      color: #db7a4e;
      font-size: 0.7rem;
      text-transform: uppercase;
      margin-top: 0rem;
      font-weight: bold;
    }
    &__time {
      margin-top: 0rem;
    }
  }

  .social {
    &__heading {
      margin-bottom: 2.5rem;
    }
    &__icon {
      height: 25px;
      padding-right: 2rem;
    }
  }
}

@media (max-width: 991px){
  .footer{
    flex-direction: column;
    padding: 1rem 8rem;
    align-items: center;
    text-align: center;

    .contact{
      &__heading{
        margin-bottom: 1rem;
      }
    }
    .hours{
      &__heading{
        margin-bottom: 1rem;
      }
    }
    .social{
      &__heading{
        margin-bottom: 1rem;
      }
      &__icon{
        padding: 0rem;
        margin: 0rem 1rem;
      }
    }
  }
}
@media (max-width: 767px){
  .primary-nav{
    flex-direction: column;
    padding: 0rem;

    &__list{
      flex-direction: column;
      padding: 0rem;
      font-size: 1.5rem;
      width: 100%;
      text-align: center;
    }
    &__item{
      border-bottom: 1px solid #db7a4e;
    }
    &__link{
      &--active{
        text-decoration: none;
        border-left: 1px solid #db7a4e;
      }
      &:hover{
        text-decoration: none;
        border-left: 1px solid #335576;
      }
    }
  }

}