@use "media-query" as mediaQuery;

@include mediaQuery.desktop {
    .hero{
        flex-direction: row;
        height: 34rem;
        .hero-section1{
            padding-right: 4rem;
            width:42%;
        }
        .hero-section2{
            &__image{
                height: 450px;
            }
        }
    }
    .recommendations{
        .destination{
            flex-direction: row;
            padding: 0rem 6rem;
        }
        &__item{
            width:100%;
        }
        &__link{
            width:30%;
            margin-bottom: 0rem;
        }
    }
}