@use "media-query" as mediaQuery;
@use "variables";
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}
.btn {
  background-color: #db7a4e;
  color: #ffffff;
  border-radius: 100px;
  text-align: center;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-weight: lighter;
  width: 10rem;
}
.primary-nav {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #335576;
  justify-content: space-between;
  align-items: center;
  padding: 0rem;

  &__heading {
    margin: 0rem;
  }
  &__headinglink {
    text-decoration: none;
    color: #335576;
    &:hover {
      filter: brightness(150%);
    }
  }
  &__list {
    display: flex;
    list-style: none;
    flex-direction: column;
    padding: 0rem;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
  }

  &__item {
    padding: 0;
  }

  &__link {
    text-decoration: none;
    color: #000000;

    &--active {
      text-decoration: none;
      border-left: 3px solid #db7a4e;
      border-right: 3px solid #db7a4e;
    }
    &:hover {
      text-decoration: none;
      border-left: 3px solid #335576;
      border-right: 3px solid #335576;
    }
  }
}
.footer {
  background-color: #fefaf5;
  color: #335576;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem 8rem;
  align-items: center;
  text-align: center;

  .contact {
    padding: 0rem 1rem;
    &__heading {
      margin-bottom: 1rem;
    }
    &__text {
      color: #db7a4e;
      font-size: 0.7rem;
      text-transform: uppercase;
      font-weight: bold;
    }
    &__email {
      margin-top: 0rem;
    }
  }
  .hours {
    padding: 0rem 1rem;
    &__heading {
      margin-bottom: 1rem;
    }
    &__container {
      display: flex;
      flex-direction: row;
    }
    &__section {
      display: flex;
      flex-direction: column;
      padding-right: 2rem;
    }
    &__day {
      color: #db7a4e;
      font-size: 0.7rem;
      text-transform: uppercase;
      margin-top: 0rem;
      font-weight: bold;
    }
    &__time {
      margin-top: 0rem;
    }
  }

  .social {
    padding: 0rem 1rem;
    &__heading {
      margin-bottom: 1rem;
    }
    &__icon {
      height: 25px;
      padding: 0rem;
      margin: 0rem 1rem;
    }
  }
}

@include mediaQuery.tablet {
  .primary-nav {
    flex-direction: row;
    padding: 0rem 5rem;

    &__list {
      flex-direction: row;
      font-size: 1rem;
      width: auto;
    }
    &__item {
      padding-left: 1rem;
    }
    &__link {
      &--active {
        text-decoration: underline;
        text-decoration-color: #db7a4e;
        text-underline-offset: 0.6rem;
        text-decoration-thickness: 0.3rem;
        border: 0;
      }
      &:hover {
        text-decoration: underline;
        color: #335576;
        text-underline-offset: 0.6rem;
        text-decoration-thickness: 0.3rem;
        border: 0;
      }
    }
  }
  .footer {
    flex-direction: row;
    padding: 2rem 2rem;
    text-align: left;
    align-items: flex-start;

    .contact {
      &__heading {
        margin-bottom: 2rem;
      }
    }
    .hours {
      &__heading {
        margin-bottom: 2rem;
      }
    }
    .social {
      &__heading {
        margin-bottom: 2rem;
      }
      &__icon {
        padding-right: 2rem;
        margin: 0;
        margin-top: 1rem;
      }
    }
  }
}

@include mediaQuery.desktop {
  .footer {
    padding: 2rem 12rem;
    .social {
      &__icon {
        margin-top: 1rem;
      }
    }
  }
}
