@use "media-query" as mediaQuery;

@include mediaQuery.tablet {
    .hero{
        padding-right: 1rem;

        .hero-section1{
            padding-right: 2rem;
            &__heading{
                font-size: 1.5rem;
            }
        }
        .hero-section2{
            &__image{
                height: 300px;
            }
        }
    }
    .recommendations{
        .destination{
            padding: 0rem;
        }
    }
}